<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jinhui.androiddemo">

    <!--添加权限 打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--发信息-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--上网-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 在非Activity组件中弹出对话框，需要 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--读外部存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--写外部存储权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".day1.WidgetAndLayoutActivity"/>
        <activity android:name=".day2.ListenerActivity"/>
        <activity android:name=".day1.TextViewActivity"
            android:label="@string/textview"/>
        <activity android:name=".day1.ButtonActivity"
            android:label="@string/button"/>

        <activity android:name=".day1.EditTextActivity"
            android:label="@string/edittext"/>

        <activity android:name=".day1.PrograssbarActivity"
            android:label="@string/prograssbar"/>

        <activity android:name=".day1.ImageViewActivity"
            android:label="@string/imageview"/>
        <activity android:name=".day1.layout.LinearlayoutActivity"
            android:label="@string/linearlayout"/>
        <activity android:name=".day1.layout.RelativelayoutActivity"
            android:label="@string/Relativelayout"/>
        <activity android:name=".day1.layout.FramelayoutActivity"
            android:label="@string/Framelayout"/>
        <activity android:name=".day1.layout.TablelayoutActivity"
            android:label="@string/Tablelayout"/>
        <activity android:name=".day1.layout.GridlayoutActivity"
            android:label="@string/Gridlayout"/>
        <activity android:name=".day2.ResActivity"
            android:label="@string/res"/>
        <activity android:name=".day2.viewlistener.ViewListenerActivity"
            android:label="@string/viewlistener"/>
        <activity android:name=".day3.interface1.InterfaceActivity"
            android:label="@string/interface1"/>
        <activity android:name=".day3.interface1.UiActivity"
            android:label="@string/ui"/>
        <activity android:name=".day3.interface1.LayoutInflaterActivity"
            android:label="@string/LayoutInflater"/>
        <activity android:name=".day3.interface1.Add_removeActivity"
            android:label="@string/add_remove"/>
        <activity android:name=".day3.interface1.ExampleActivity"
            android:label="@string/example"/>
        <activity android:name=".day3.intent.IntentActionActivity"
            android:label="@string/intentaction"/>

        <!--隐式意图-->
        <activity android:name=".day3.intent.OfficeActivity"
            android:label="office">
            <intent-filter>
                <!--设置action-->
                <action android:name="selector"/>
                <!--设置类别-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".day3.intent.NoteActivity"
            android:label="note">
            <intent-filter>
                <!--设置action-->
                <action android:name="selector"/>
                <!--设置类别-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".day3.intent.Jump2Activity"
            android:label="@string/Jump2"/>
        <activity android:name=".day3.intent.Jump3Activity"
            android:label="@string/Jump3"/>
        <activity android:name=".day1.layout.WeightActivity"
            android:label="@string/weight"/>
        <activity android:name=".day4.Interface2Activity"
            android:label="@string/interface2"/>
        <activity android:name=".day4.IntentBackActivity"
            android:label="@string/intentback"/>
        <activity android:name=".day4.FullscreenActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="@string/fullscreen"/>
        <activity android:name=".day4.FullscreenJavaActivity"
            android:label="@string/fullscreenjava"/>
        <activity android:name=".day4.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="@string/dialog"/>
        <activity android:name=".day4.OnkeyDownActivity"
            android:label="@string/onkeydown"/>
        <activity android:name=".day5.ActivityActivity"
            android:label="@string/activity"/>
        <activity android:name=".day5.save.SaveActivity"
            android:label="@string/save"/>
        <activity android:name=".day5.launchmode.StandardActivity"
            android:launchMode="standard"
            android:label="@string/standard"/>
        <activity android:name=".day5.launchmode.SingleTopActivity"
            android:launchMode="singleTop"
            android:label="@string/singletop"/>
        <activity android:name=".day5.launchmode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:label="@string/singleTask"/>
        <activity android:name=".day5.launchmode.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:label="@string/singleInstance"/>
        <activity android:name=".day5.launchmode.NewActivity"
            android:label="new界面"/>
        <activity android:name=".day5.finishall.finishall1.SecondActivity"/>
        <activity android:name=".day5.finishall.finishall1.ThirdActivity"/>
        <activity android:name=".day5.finishall.finishall2.Second1Activity"/>
        <activity android:name=".day5.finishall.finishall2.Third1Activity"/>
        <activity android:name=".day5.xuliehua.SerialActivity"
            android:label="@string/serial"/>
        <activity android:name=".day6.AnimActivity"
            android:label="@string/anim"/>
        <activity android:name=".day6.tweenanim.TweenAnimationActivity"
            android:label="@string/tweenanim"/>
        <activity android:name=".day6.tweenanim.TweenAnimationNextActivity"/>
        <activity android:name=".day6.frameanim.FrameAnimationActivity"
            android:label="@string/frameanim"/>
        <activity android:name=".day6.propertyanim.PropertyAnimationActivity"
            android:label="@string/propertyanim"/>
        <activity android:name=".day6.frameanim.CatActivity"
            android:label="@string/cat"/>
        <activity android:name=".day7.ThreadActivity"
            android:label="@string/thread"/>
        <activity android:name=".day8.HttpActivity"
            android:label="@string/http"/>
        <activity android:name=".day9.AdvanceInterface1Activity"
            android:label="@string/advanceinterface1"/>
        <activity android:name=".day9.radiocheck.RadioCheckBoxActivity"
            android:label="@string/radiocheckbox"/>
        <activity android:name=".day9.radiocheck.GameActivity"
            android:label="@string/game"/>
        <activity android:name=".day9.menu.PopupMenuActivity"
            android:label="@string/popupmenu"/>
        <activity android:name=".day9.dialog.AlertdialogActivity"
            android:label="@string/alertdialog"/>
        <activity android:name=".day9.popup.PopupwindowActivity"
            android:label="@string/popupwindow"/>
        <activity android:name=".day9.datetime.Date_timeActivity"
            android:label="@string/datetime"/>
        <activity android:name=".day9.datetime.ModifyDate_timeActivity"
            android:label="@string/ModifyDate_time"/>
        <activity android:name=".day10.AdvanceInterface2Activity"
            android:label="@string/advanceinterface2"/>
        <activity android:name=".day10.MoreToastActivity"
            android:label="@string/moretoast"/>
        <activity android:name=".day11.AdvanceInterface3Activity"
            android:label="@string/advanceinterface3"/>
        <activity android:name=".day10.WelcomeActivity"
            android:label="@string/welcome"/>
        <activity android:name=".day10.welcome.UserActivity"
            android:label="@string/user"/>
        <activity android:name=".day10.style.StyleActivity"
            android:label="@string/style"/>
        <activity android:name=".day11.canvas.CanvasActivity"
            android:label="@string/canvas"/>
        <activity android:name=".day11.view.OnTouchEventActivity"
            android:label="@string/ontouchevent"/>
        <activity android:name=".day11.view.DragbitmapActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/dragbitmap"/>
        <activity android:name=".day11.view.MoveActivity"
            android:label="@string/move"/>
        <activity android:name=".day11.view.WeatherActivity"
            android:label="@string/weather"/>
        <activity android:name=".day12.AdvanceInterface4Activity"
            android:label="@string/advanceinterface4"/>
        <activity android:name=".day13.AdvanceInterface5Activity"
            android:label="@string/advanceinterface5"/>
        <activity android:name=".day12.CustomLinearlayoutActivity"
            android:label="@string/customlinearlayout"/>
        <activity android:name=".day12.surfaceview.SurfaceViewActivity"
            android:label="@string/surfaceview"/>
        <activity android:name=".day11.canvas.ViewActivity"
            android:label="@string/view"/>
        <activity android:name=".day11.ControlActivity"
            android:label="@string/control"/>
        <activity android:name=".day14.Service1Activity"
            android:label="@string/service1"/>
        <activity android:name=".day15.Service2Activity"
            android:label="@string/service2"/>
        <activity android:name=".day16.BroadcastReceiverActivity"
            android:label="@string/broadcastreceiver"/>
        <activity android:name=".day14.calculator.CalculatorActivity"
            android:label="@string/calculator"/>
        <activity android:name=".day14.all.AllActivity"
            android:label="@string/all"/>
       <activity android:name=".day17.MusicplayerActivity"
           android:label="@string/musicplayer"/>
        <activity android:name=".day17.musicplayer.PlayActivity"
            android:label="@string/play"/>
        <activity android:name=".day17.soundpool.SoundPoolActivity"
            android:label="@string/soundpool"/>
        <activity android:name=".day20.UiOptimize1Activity"
            android:label="@string/uioptimize1"/>
        <activity android:name=".day20.arrayadapter.ArrayAdapterActivity"
            android:label="@string/arrayadapter"/>
        <activity android:name=".day20.simpleadapter.SimpleAdapterActivity"
            android:label="@string/simpleadapter"/>
        <activity android:name=".day20.simpleadapter.SimpleAdapter1Activity"
            android:label="@string/simpleadapter1"/>
        <activity android:name=".day20.listviewlistener.ListViewListenerActivity"
            android:label="@string/listviewlistener"/>
        <activity android:name=".day20.baseadapter.BaseAdapterActivity"
            android:label="@string/baseadapter"/>
        <activity android:name=".day20.contact.ContactActivity"
            android:label="@string/contact"/>
        <activity android:name=".day21.UiOptimize2Activity"
            android:label="@string/uioptimize2"/>
        <activity android:name=".day21.chat.ChatActivity"
            android:label="@string/chat"/>
        <activity android:name=".day21.addfooter.AddFooterActivity"
            android:label="@string/addfooter"/>
        <activity android:name=".day21.addfooter.AddFooter1Activity"
            android:label="@string/addfooter1"/>
        <activity android:name=".day21.pulltorefresh.Add_header_footerActivity"
            android:label="@string/addheaderfooter"/>
        <activity android:name=".day21.example.ExampleActivity"
            android:label="@string/pulltorefresh"/>
        <activity android:name=".day21.example.XListViewActivity"
            android:label="@string/xlistview"/>
        <activity android:name=".day21.example.XScrollViewActivity"
            android:label="@string/xscrollview"/>
        <activity android:name=".day22.UiOptimize3Activity"
            android:label="@string/uioptimize3"/>
        <activity android:name=".day23.UiOptimize4Activity"
            android:label="@string/uioptimize4"/>
        <activity android:name=".day24.UiOptimize5Activity"
            android:label="@string/uioptimize5"/>
        <activity android:name=".day22.listviewheader.ListViewHeaderActivity"
            android:label="@string/listviewheader"/>
        <activity android:name=".day22.gridview.GridviewActivity"
            android:label="@string/gridview"/>
        <activity android:name=".day22.gridview.example.GiftActivity"
            android:label="@string/gift"/>
        <activity android:name=".day22.spinner.SpinnerActivity"
            android:label="@string/spinner"/>
        <activity android:name=".day22.cache.CacheActivity"
            android:label="@string/cache"/>
        <activity android:name=".day22.reference.ReferenceActivity"
            android:label="@string/reference"/>
        <activity android:name=".day22.cache.CacheExampleActivity"
            android:label="@string/cacheexample"/>

        <!--开始fragment碎片的整理-->
        <activity android:name=".day23.fragment01.java.FragmentJavaActivity"
            android:label="@string/fragmentjava"/>
        <activity android:name=".day23.fragment02.Fragment02Activity"
            android:label="@string/fragment02"/>
        <activity android:name=".day23.fragment01.xml.FragmentXmlActivity"
            android:label="@string/fragmentxml"/>
        <activity android:name=".day23.fragment03.ShowHideActivity"
            android:label="@string/showhide"/>
        <activity android:name=".day23.stack.Stack1Activity"
            android:label="@string/stack1"/>
        <activity android:name=".day23.stack.Stack2Activity"
            android:label="@string/stack2"/>
        <activity android:name=".day23.send_data.activity_fragment.Activity_fragmentActivity"
            android:label="@string/activity_fragment"/>
        <activity android:name=".day23.send_data.fragment_activity.Fragment_activityActivity"
            android:label="@string/fragment_activity"/>
        <activity android:name=".day23.fragmentanim.Fragment_animActivity"
            android:label="@string/fragmentanim"/>
        <activity android:name=".day23.example.WeixinActivity"
            android:label="@string/weixin"/>
        <activity android:name=".day23.example1.TopActivity"
            android:label="@string/top"/>
        <activity android:name=".day25.ModelActivity"
            android:label="@string/model"/>
        <activity android:name=".day25.mvc.MVCActivity"
            android:label="@string/mvc"/>
        <activity android:name=".day25.mvp.MVPActivity"
            android:label="@string/mvp"/>
        <activity android:name=".day25.mvvm.MVVMActivity"
            android:label="@string/mvvm"/>


        <!--注册服务-->
        <service android:name=".day14.service.MyService"/>
        <service android:name=".day14.service.DownLoadService">
            <!--隐式意图的service,需要加上意图过滤器-->
            <intent-filter >
                <action android:name="DownLoadService"/>
            </intent-filter>
        </service>
        <service android:name=".day14.countservice.CountService"/>
        <service android:name=".day14.bindservice.BindService"/>
        <service android:name=".day14.calculator.CalculatorService"/>
        <service android:name=".day14.all.AllService"/>
        <service android:name=".day15.aidl.WeatherService"/>
        <!--前台服务-->
        <service android:name=".day15.foreground.ForegroundService"/>
        <service android:name=".day15.intentservice.MyService"/>

        <service android:name=".day17.musicplayer.MusicService"/>


        <!--广播-->
        <!-- 静态注册 -->
        <receiver android:name=".day16.sendbroadcast.MyRecevier">
            <intent-filter >
                <action android:name="MyRecevier"/>
                <action android:name="MyRecevier1"/>
            </intent-filter>
        </receiver>

        <!--动态注册广播-->
        <service android:name=".day16.sendbroadcast.CountService"/>

        <!--发送一条广播多个广播接收-->
        <receiver android:name=".day16.sendbroadcastmore.MyReceiver01" >
            <intent-filter>
                <action android:name="more" />
            </intent-filter>
        </receiver>
        <receiver android:name=".day16.sendbroadcastmore.MyReceiver02" >
            <intent-filter>
                <action android:name="more" />
            </intent-filter>
        </receiver>
        <receiver android:name=".day16.sendbroadcastmore.MyReceiver03" >
            <intent-filter>
                <action android:name="more" />
            </intent-filter>
        </receiver>
        <!--有序广播-->
        <receiver android:name=".day16.orderbroadcast1.OrderBroadcast1" >
            <intent-filter android:priority="1000">
                <action android:name="order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".day16.orderbroadcast1.OrderBroadcast2" >
            <intent-filter android:priority="998">
                <action android:name="order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".day16.orderbroadcast1.OrderBroadcast3" >
            <intent-filter android:priority="999">
                <action android:name="order" />
            </intent-filter>
        </receiver>

        <!--广播中启动服务-->
        <receiver android:name=".day16.broadcastservice.MyReceiver"/>
        <service android:name=".day16.broadcastservice.MyService"/>

        <!--强制退出？-->
        <receiver android:name=".day16.forcequit.ForceQuitReceiver">
            <intent-filter >
                <action android:name="ForceQuitReceiver"/>
            </intent-filter>
        </receiver>







    </application>

</manifest>