<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jinhui.androiddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".day1.WidgetAndLayoutActivity"/>
        <activity android:name=".day2.ListenerActivity"/>
        <activity android:name=".day1.TextViewActivity"
            android:label="@string/textview"/>
        <activity android:name=".day1.ButtonActivity"
            android:label="@string/button"/>

        <activity android:name=".day1.EditTextActivity"
            android:label="@string/edittext"/>

        <activity android:name=".day1.PrograssbarActivity"
            android:label="@string/prograssbar"/>

        <activity android:name=".day1.ImageViewActivity"
            android:label="@string/imageview"/>
        <activity android:name=".day1.layout.LinearlayoutActivity"
            android:label="@string/linearlayout"/>
        <activity android:name=".day1.layout.RelativelayoutActivity"
            android:label="@string/Relativelayout"/>
        <activity android:name=".day1.layout.FramelayoutActivity"
            android:label="@string/Framelayout"/>
        <activity android:name=".day1.layout.TablelayoutActivity"
            android:label="@string/Tablelayout"/>
        <activity android:name=".day1.layout.GridlayoutActivity"
            android:label="@string/Gridlayout"/>
        <activity android:name=".day2.ResActivity"
            android:label="@string/res"/>
        <activity android:name=".day2.viewlistener.ViewListenerActivity"
            android:label="@string/viewlistener"/>
        <activity android:name=".day3.interface1.InterfaceActivity"
            android:label="@string/interface1"/>
        <activity android:name=".day3.interface1.UiActivity"
            android:label="@string/ui"/>
        <activity android:name=".day3.interface1.LayoutInflaterActivity"
            android:label="@string/LayoutInflater"/>
        <activity android:name=".day3.interface1.Add_removeActivity"
            android:label="@string/add_remove"/>
        <activity android:name=".day3.interface1.ExampleActivity"
            android:label="@string/example"/>
        <activity android:name=".day3.intent.IntentActionActivity"
            android:label="@string/intentaction"/>

        <!--隐式意图-->
        <activity android:name=".day3.intent.OfficeActivity"
            android:label="office">
            <intent-filter>
                <!--设置action-->
                <action android:name="selector"/>
                <!--设置类别-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".day3.intent.NoteActivity"
            android:label="note">
            <intent-filter>
                <!--设置action-->
                <action android:name="selector"/>
                <!--设置类别-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".day3.intent.Jump2Activity"
            android:label="@string/Jump2"/>
        <activity android:name=".day3.intent.Jump3Activity"
            android:label="@string/Jump3"/>
        <activity android:name=".day1.layout.WeightActivity"
            android:label="@string/weight"/>
        <activity android:name=".day4.Interface2Activity"
            android:label="@string/interface2"/>
        <activity android:name=".day4.IntentBackActivity"
            android:label="@string/intentback"/>
        <activity android:name=".day4.FullscreenActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="@string/fullscreen"/>
        <activity android:name=".day4.FullscreenJavaActivity"
            android:label="@string/fullscreenjava"/>
        <activity android:name=".day4.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="@string/dialog"/>
        <activity android:name=".day4.OnkeyDownActivity"
            android:label="@string/onkeydown"/>
        <activity android:name=".day5.ActivityActivity"
            android:label="@string/activity"/>
        <activity android:name=".day5.save.SaveActivity"
            android:label="@string/save"/>
        <activity android:name=".day5.launchmode.StandardActivity"
            android:launchMode="standard"
            android:label="@string/standard"/>
        <activity android:name=".day5.launchmode.SingleTopActivity"
            android:launchMode="singleTop"
            android:label="@string/singletop"/>
        <activity android:name=".day5.launchmode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:label="@string/singleTask"/>
        <activity android:name=".day5.launchmode.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:label="@string/singleInstance"/>
        <activity android:name=".day5.launchmode.NewActivity"
            android:label="new界面"/>
        <activity android:name=".day5.finishall.finishall1.SecondActivity"/>
        <activity android:name=".day5.finishall.finishall1.ThirdActivity"/>
        <activity android:name=".day5.finishall.finishall2.Second1Activity"/>
        <activity android:name=".day5.finishall.finishall2.Third1Activity"/>
        <activity android:name=".day5.xuliehua.SerialActivity"
            android:label="@string/serial"/>
        <activity android:name=".day6.AnimActivity"
            android:label="@string/anim"/>
        <activity android:name=".day6.tweenanim.TweenAnimationActivity"
            android:label="@string/tweenanim"/>
        <activity android:name=".day6.tweenanim.TweenAnimationNextActivity"/>
        <activity android:name=".day6.frameanim.FrameAnimationActivity"
            android:label="@string/frameanim"/>
        <activity android:name=".day6.propertyanim.PropertyAnimationActivity"
            android:label="@string/propertyanim"/>
        <activity android:name=".day6.frameanim.CatActivity"
            android:label="@string/cat"/>
        <activity android:name=".day7.ThreadActivity"
            android:label="@string/thread"/>
        <activity android:name=".day8.HttpActivity"
            android:label="@string/http"/>
        <activity android:name=".day9.AdvanceInterface1Activity"
            android:label="@string/advanceinterface1"/>
        <activity android:name=".day9.radiocheck.RadioCheckBoxActivity"
            android:label="@string/radiocheckbox"/>
        <activity android:name=".day9.radiocheck.GameActivity"
            android:label="@string/game"/>
        <activity android:name=".day9.menu.PopupMenuActivity"
            android:label="@string/popupmenu"/>
        <activity android:name=".day9.dialog.AlertdialogActivity"
            android:label="@string/alertdialog"/>
        <activity android:name=".day9.popup.PopupwindowActivity"
            android:label="@string/popupwindow"/>
        <activity android:name=".day9.datetime.Date_timeActivity"
            android:label="@string/datetime"/>
        <activity android:name=".day9.datetime.ModifyDate_timeActivity"
            android:label="@string/ModifyDate_time"/>
        <activity android:name=".day10.AdvanceInterface2Activity"
            android:label="@string/advanceinterface2"/>
        <activity android:name=".day10.MoreToastActivity"
            android:label="@string/moretoast"/>
        <activity android:name=".day11.AdvanceInterface3Activity"
            android:label="@string/advanceinterface3"/>
        <activity android:name=".day10.WelcomeActivity"
            android:label="@string/welcome"/>
        <activity android:name=".day10.welcome.UserActivity"
            android:label="@string/user"/>
        <activity android:name=".day10.style.StyleActivity"
            android:label="@string/style"/>
        <activity android:name=".day11.canvas.CanvasActivity"
            android:label="@string/canvas"/>
        <activity android:name=".day11.view.OnTouchEventActivity"
            android:label="@string/ontouchevent"/>
        <activity android:name=".day11.view.DragbitmapActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/dragbitmap"/>
        <activity android:name=".day11.view.MoveActivity"
            android:label="@string/move"/>
        <activity android:name=".day11.view.WeatherActivity"
            android:label="@string/weather"/>
        <activity android:name=".day12.AdvanceInterface4Activity"
            android:label="@string/advanceinterface4"/>
        <activity android:name=".day13.AdvanceInterface5Activity"
            android:label="@string/advanceinterface5"/>
        <activity android:name=".day12.CustomLinearlayoutActivity"
            android:label="@string/customlinearlayout"/>
        <activity android:name=".day12.surfaceview.SurfaceViewActivity"
            android:label="@string/surfaceview"/>
        <activity android:name=".day11.canvas.ViewActivity"
            android:label="@string/view"/>
        <activity android:name=".day11.ControlActivity"
            android:label="@string/control"/>


    </application>

</manifest>