<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jinhui.androiddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".day1.WidgetAndLayoutActivity"/>
        <activity android:name=".day2.ListenerActivity"/>
        <activity android:name=".day1.TextViewActivity"
            android:label="@string/textview"/>
        <activity android:name=".day1.ButtonActivity"
            android:label="@string/button"/>

        <activity android:name=".day1.EditTextActivity"
            android:label="@string/edittext"/>

        <activity android:name=".day1.PrograssbarActivity"
            android:label="@string/prograssbar"/>

        <activity android:name=".day1.ImageViewActivity"
            android:label="@string/imageview"/>
        <activity android:name=".day1.layout.LinearlayoutActivity"
            android:label="@string/linearlayout"/>
        <activity android:name=".day1.layout.RelativelayoutActivity"
            android:label="@string/Relativelayout"/>
        <activity android:name=".day1.layout.FramelayoutActivity"
            android:label="@string/Framelayout"/>
        <activity android:name=".day1.layout.TablelayoutActivity"
            android:label="@string/Tablelayout"/>
        <activity android:name=".day1.layout.GridlayoutActivity"
            android:label="@string/Gridlayout"/>
        <activity android:name=".day2.ResActivity"
            android:label="@string/res"/>
        <activity android:name=".day2.ViewListenerActivity"
            android:label="@string/viewlistener"/>
        <activity android:name=".day3.interface1.InterfaceActivity"
            android:label="@string/interface1"/>
        <activity android:name=".day3.interface1.UiActivity"
            android:label="@string/ui"/>
        <activity android:name=".day3.interface1.LayoutInflaterActivity"
            android:label="@string/LayoutInflater"/>
        <activity android:name=".day3.interface1.Add_removeActivity"
            android:label="@string/add_remove"/>
        <activity android:name=".day3.interface1.ExampleActivity"
            android:label="@string/example"/>
        <activity android:name=".day3.intent.IntentActionActivity"
            android:label="@string/intentaction"/>

        <!--隐式意图-->
        <activity android:name=".day3.intent.OfficeActivity"
            android:label="office">
            <intent-filter>
                <!--设置action-->
                <action android:name="selector"/>
                <!--设置类别-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".day3.intent.NoteActivity"
            android:label="note">
            <intent-filter>
                <!--设置action-->
                <action android:name="selector"/>
                <!--设置类别-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".day3.intent.Jump2Activity"
            android:label="@string/Jump2"/>
        <activity android:name=".day3.intent.Jump3Activity"
            android:label="@string/Jump3"/>
        <activity android:name=".day1.layout.WeightActivity"
            android:label="@string/weight"/>
    </application>

</manifest>